/* Style Guide
*Primary color: slategray
*Secondary color: skyblue
*/

body{
background: black;
}

h1  {
  color: slategray;
  font-family: 'Lalezar', cursive;
font-size: 60px;
  letter-spacing: 6px;
  text-align: center;
}


P  {
  color: slategray;
  text-align: center;
}

main { 
  margin: 0 auto;
  width: 90%;
    
  display: grid;
  grid-template-columns: 1fr;
}

main img {

  grid-column: 1 / 1;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

nav a:link,
nav a:visited {
  text-decoration: none;
  color: white;
  padding: .5em;
  background: black;
  transition: background .25s
  
}

nav a:hover, nav a:focus, nav a:active {
  background: slategray;
  color: white;
  transform: scale(1.2);
  transition: background .1s, transfrom 1s ease-in;
}



/* Mobile 
  0 to 26em (416 pixels)
*/
@media only screen and (min-width: 0) { 
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }
  
}

/* Tablet 
  26em (416 pixels) to 72em (1,152 pixels)
*/
@media only screen and (min-width: 26em)  {
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }

}

/* Desktop 
   72em (1,152 pixels) to 90em (1440 pixels)
*/
@media screen and (min-width: 72em)  { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

}

/* Wide Desktop: 
  Greater than 90em (1440px)
*/
@media screen and (min-width: 90em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Wide Desktop Size";
  }

}


/* Typography 
*Primary font:'Lalezar', cursive
*/

/*  */

img{
  width:100%;
}