/* Style Guide
*Primary color: black
*Secondary color: skyblue
*Third color: white
*/

#form {
  background: black;
  border: thin;
  border-color: white;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 30%;
  text-align: justify;
  text-justify: inter-word;
  display: block;
}

#profile {
  margin-top: 5px;
  border-radius: 70%;
  shape-outside: circle(110%);
  width: 60%;
  padding-bottom: 1em;
  }

.center {
  display: block;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body{
background: black;
}

h1  {
  color: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  font-size: 65px;
  text-align: center;
}

h2 {
  color: skyblue;
  font-family: 'Kanit', sans-serif;
  font-size: 60px;
  letter-spacing: 4px;
  text-align: center;
}

P  {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: justify;
  text-justify: inter-word;
  word-spacing: -1px;
   font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

.footer{
  text-align: center;
}

main { 
  margin: 5 ;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
}

main img {

  grid-column: 1 / 1;
}

nav {
  font-family: 'Kanit', sans-serif;
  display: flex;
  justify-content: space-evenly;
}
  
nav a:link,
nav a:visited {
  font-family: 'Kanit', sans-serif;
  text-decoration: none;
  color: white;
  padding: .5em;
  background: black;
  transition: background .25s
}

nav a:hover, nav a:focus, nav a:active {
  font-family: 'Kanit', sans-serif;
  background: black;
  color: skyblue;
  transform: scale(1.2);
  transition: background .1s, transfrom 1s ease-in;
}

#photos {
  opacity: .88;
}

#photos img {
  width: 30%;
  float: left;
  display: block;
  margin: 3px;
}

ul {
  list-style: none;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  display: block;
  max-width: 800px;
  text-align: center;
}

#photos {
  width: 100%;
}

#photo-gallery {
  width: 100%;
}

#logo {
 margin-top: 60px;
  margin: auto;
  padding: 20px;
  width: 30%;
  text-align: center;
  display: block;
}


#soccer {
  margin-top: 60px;
  margin: auto;
  padding: 20px;
  width: 30%;
  text-align: center;
  display: block;
}
/* Mobile 
  0 to 26em (416 pixels)
*/
@media only screen and (min-width: 0) { 
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: white;
       color: white;
       content: "Mobile Size";
  }
  
}

/* Tablet 
  26em (416 pixels) to 72em (1,152 pixels)
*/
@media only screen and (min-width: 26em)  {
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: black;
       color: black;
       content: "Tablet Size";
  }

}

/* Desktop 
   72em (1,152 pixels) to 90em (1440 pixels)
*/
@media screen and (min-width: 72em)  { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: black;
       color: black;
       content: "Desktop Size";
  }

}

/* Wide Desktop: 
  Greater than 90em (1440px)
*/
@media screen and (min-width: 90em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background:black;
       color: black;
       content: "Wide Desktop Size";
  }

}


/* Typography 
*Primary font:'Lalezar', cursive
*/

/*  */

