/* Style Guide
*Primary color: slategray
*Secondary color: skyblue
*/

body{
background: black;
}

h1  {
  color: slategray;
  font-family: 'Lalezar', cursive;
font-size: 60px;
  letter-spacing: 6px;
  text-align: center;
}


P  {
  color: slategray;
  text-align: center;
}




/* Typography 
*Primary font:'Lalezar', cursive
*/

/*  */

img{
  width:100%;
}